adium-theme-ubuntu==0.3.4
anyjson==0.3.1
apt-xapian-index==0.45
Babel==0.9.6
blinker==1.2
boto==2.2.1
braintree==2.12.3
chardet==1.0.1
command-not-found==0.3
debtagshw==0.1
defer==1.0.6
dirspec==13.10
duplicity==0.6.23
Flask==0.6
Flask-Babel==0.6
Flask-Cache==0.4.0
Flask-Mail==0.6.1
Flask-MongoKit==0.6
Flask-Principal==0.2
Flask-Redis==0.0.3
Flask-Script==0.3.1
Flask-Uploads==0.1.3
Flask-WTF==0.5.2
gunicorn==0.13.4
httplib2==0.8
Jinja2==2.6
lamson==1.1
lockfile==0.9.1
lxml==3.3.3
MarkupSafe==0.23
mercurial==2.8.2
mock==0.7.2
mongokit==0.8.2
nose==1.1.2
oauthlib==0.6.1
oneconf==0.3.7.14.4.1
PAM==0.4.2
pexpect==3.1
Pillow==2.3.0
piston-mini-client==0.7.5
pycrypto==2.6.1
pycups==1.9.66
pycurl==7.19.3
pygobject==3.12.0
pymongo==2.1.1
pyOpenSSL==0.13
pyserial==2.6
pysmbc==1.0.14.1
python-apt===0.9.3.5ubuntu1
python-daemon==1.6
python-debian===0.1.21-nmu2ubuntu2
pytz===2011n
pyxdg==0.25
redis==2.10.3
reportlab==3.0
requests==2.2.1
sessioninstaller==0.0.0
simplejson==2.3.2
six==1.5.2
software-center-aptd-plugins==0.0.0
speaklater==1.3
system-service==0.1.6
Twisted-Core==13.2.0
Twisted-Web==13.2.0
unity-lens-photos==1.0
urllib3==1.7.1
virtualenv==13.1.2
Werkzeug==0.8.3
wheel==0.24.0
WTForms==0.6.3
xdiagnose===3.6.3build2
zope.interface==4.0.5
